@model MvcApplication2014_12_08.Models.Pat_VisitContext

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<fieldset>
    <legend>Pat_VisitContext</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
