<div class="darkborder">
    <div id="hospitalname">
        XXX省第一人民医院
    </div>
    <div class="emrtitle">
        住&nbsp 院&nbsp 病&nbsp 案&nbsp 首 &nbsp 页</div>
    <div class="onerow">
        <div class="lefttext">
            医疗付费方式：</div>
        <div class="valueitem">
            <select>
                <option>男</option>
                <option>女</option>
                <option>未知</option>
            </select></div>
        <div class="lefttext">
            第</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            次住院</div>
        <div class="lefttext">
            病案号：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="doublethinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            姓名：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            性别：</div>
        <div class="valueitem">
            <select>
                <option>男</option>
                <option>女</option>
                <option>未知</option>
            </select></div>
        <div class="lefttext">
            1.男 2.女 3.未知</div>
        <div class="lefttext">
            出生：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            年龄：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            国籍：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            (年龄不足1周岁的)新生儿出生体重：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            克</div>
        <div class="lefttext">
            新生儿入院体重：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            克</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            出生地：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            籍贯：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            民族：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            身份证号：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            职业：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            婚姻：</div>
        <div class="valueitem">
            <select>
                <option>已婚</option>
                <option>未婚</option>
                <option>丧偶</option>
                <option>离异</option>
            </select></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            现住址：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            电话：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            邮编：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            户口地址：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            民族：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            工作单位及地址：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            单位电话：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            邮编：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            联系人：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            关系：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            地址：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            电话：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            入院途径：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>9</option>
            </select></div>
        <div class="unit">
            1.急诊 2.门诊 3.其他医疗机构转入 9.其他</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            治疗类别：</div>
        <div class="valueitem">
            <select>
                <option>1.1</option>
                <option>1.2</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.中医（ 1.1 中医 1.2民族医） 2.中西医 3.西医</div>
        <div class="lefttext">
            床号：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            入院日期：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            入院科别：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            病房：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            专科科别：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            出院日期：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            出院科别：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            病房：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            实际住院天数：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="unit">
            天</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            实施临床路径：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.中医 2.西医 3.否</div>
        <div class="lefttext">
            使用医疗机构中药制剂：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            使用中医诊疗设备：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
        <div class="lefttext">
            使用中医诊疗技术：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
        <div class="lefttext">
            辨证施护：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
    </div>
    <div class="mytable">
        <table class="easyui-datagrid" title="诊断列表" style="width: auto; height: 250px" data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'itemid',width:80">
                        Item ID
                    </th>
                    <th data-options="field:'productid',width:100">
                        Product
                    </th>
                    <th data-options="field:'listprice',width:80,align:'right'">
                        List Price
                    </th>
                    <th data-options="field:'unitcost',width:80,align:'right'">
                        Unit Cost
                    </th>
                    <th data-options="field:'attr1',width:250">
                        Attribute
                    </th>
                    <th data-options="field:'status',width:60,align:'center'">
                        Status
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="onerow">
        <div class="lefttext">
            病理号：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            病理诊断：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            疾病编码：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            药物过敏：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
        <div class="lefttext">
            过敏药物：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            死亡患者尸检：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            血型：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select></div>
        <div class="unit">
            1.A 2.B 3.AB 4.O 5.未查 6.不详</div>
        <div class="lefttext">
            RH：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select></div>
        <div class="unit">
            1.阴 2.阳 3.未查 4.不详</div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            科主任：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            主(副主)任医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            主治医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            住院医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            责任护士：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            进修医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            实习医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            编码员：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="mytable">
        <table class="easyui-datagrid" title="手术列表" style="width: auto; height: 250px" data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'itemid',width:80">
                        Item ID
                    </th>
                    <th data-options="field:'productid',width:100">
                        Product
                    </th>
                    <th data-options="field:'listprice',width:80,align:'right'">
                        List Price
                    </th>
                    <th data-options="field:'unitcost',width:80,align:'right'">
                        Unit Cost
                    </th>
                    <th data-options="field:'attr1',width:250">
                        Attribute
                    </th>
                    <th data-options="field:'status',width:60,align:'center'">
                        Status
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="onerow">
        <div class="lefttext">
            病案质量：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.甲 2.乙 3.丙
        </div>
        <div class="lefttext">
            质控医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            质控医师：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
        <div class="lefttext">
            日期：</div>
        <div class="valueitem">
            <input class="tenworldtextbox" type="text" /></div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            离院方式：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="lefttext">
            1.医嘱离院 2.医嘱转院,转入医疗机构名称：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            3.医嘱转社区卫生服务机构/乡镇卫生院,转入医疗机构名称：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
    </div>
    <div class="unit">
        4.非医嘱离院 5.死亡 9.其他</div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            是否有出院31天内再住院计划：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.无 2.有,目的：</div>
        <div class="valueitem">
            <input class="twentyworldtextbox" type="text" /></div>
        <div class="lefttext">
            是否非预期再手术：</div>
        <div class="valueitem">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></div>
        <div class="unit">
            1.是 2.否</div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            昏迷时间(颅脑损伤患者)入院前：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            天：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            小时：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            分：</div>
        <div class="lefttext">
            入院后：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            天：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            小时：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            分：</div>
    </div>
    <div class="thinline">
    </div>
    <div class="onerow">
        <div class="lefttext">
            住院费用(元)</div>
        <div class="lefttext">
            总费用：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (自付金额：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            )</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            综合医疗服务费：</div>
        <div class="lefttext">
            (1)一般医疗服务费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (2)一般治疗操作费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (3)护理费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (4)其他费用：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            诊断类：</div>
        <div class="lefttext">
            (5)病理诊断费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (6)实验室诊断费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (7)影像学诊断费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (8)临床诊断项目费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            治疗类：</div>
        <div class="lefttext">
            (9)非手术治疗项目费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            （临床物理治疗费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            )(10)手术治疗费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            （麻醉费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            手术费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            )</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            康复类：</div>
        <div class="lefttext">
            (11)康复费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            中医类：</div>
        <div class="lefttext">
            (12)中医治疗费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            西药类：</div>
        <div class="lefttext">
            (13)西药费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            （抗菌药物费用：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="unit">
            )</div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            中药类：</div>
        <div class="lefttext">
            (14)中成药费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (15)草药费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            血液和血液制品类：</div>
        <div class="lefttext">
            (16)血费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (17)白蛋白类制品费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (18)球蛋白类制品费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (19)凝血因子类制品费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            (20)细胞因子类制品费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            耗材类：</div>
        <div class="lefttext">
            (21)检查用一次性医用材料费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (22)治疗用一次性医用材料费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
        <div class="lefttext">
            (23)手术用一次性医用材料费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="onerow">
        <div class="lefttext">
            其他类：</div>
        <div class="lefttext">
            (24)检其他费：</div>
        <div class="valueitem">
            <input class="threeworldtextbox" type="text" /></div>
    </div>
    <div class="doublethinline">
    </div>
    <div class="description">
        说明：（一）医疗付费方式 1.城镇职工基本医疗保险 2.城镇居民基本医疗保险 3.新型农村合作医疗 4.贫困救助 5.商业医疗保险 6.全公费 7.全自费 8.其他社会保险9.其他
        （二）凡可由医院信息系统提供住院费用清单的，住院病案首页中可不填写“住院费用”
    </div>
</div>
